@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  
}

/* .skyblue {
  background-color: brown;
  min-height: 100vh;
  overflow: auto;
  padding: 20px;
}

.skyblue > .skyblue__child {
  width: 80px;
  height: 80px;
}

.skyblue > .child1 {
  background-color: aquamarine;
}

.skyblue > .child2 {
  background-color: orange;
  margin: 20px auto 20px
}  */

/* button {
  cursor: pointer;
  background-color: rgb(176, 47, 0);
  color: #dedede;
  font-size: 1.25rem;
  font-weight: 600;
  height: 50px;
  border: none;
  padding: 9px 15px;
  border-radius: 25px;
  text-transform: capitalize;
}

button:hover,
button:focus-visible {
  opacity: 0.2;
} */